img {
    margin-top: 1rem;
    border-radius: 0.5rem; /* 角を丸くする */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* 影を付ける */
    /* 他に必要なスタイルがあればここに追加 */
}

.prose a {
    text-decoration: none; /* 下線を取り除く */
  }
  
.instagram-gradient {
    background-image: linear-gradient(45deg, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6) !important;
}

.instagram-gradient:hover {
opacity: 0.9;
}

/* アニメーションの定義 */
@keyframes scaleUpAndDown {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.05);
}
100% {
    transform: scale(1);
}
}

/* img要素にアニメーションを適用 */
.icon {
animation: scaleUpAndDown 0.3s ease-in-out;
}
