img {
    margin-top: 1rem;
    border-radius: 0.5rem; /* 角を丸くする */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* 影を付ける */
    /* 他に必要なスタイルがあればここに追加 */
}

.prose a {
    text-decoration: none; /* 下線を取り除く */
  }
  