---
import Header from '../layouts/Header.astro';
import Company from '../components/company.astro';
import Achievements from '../components/achievements-link.astro';
import AchievementsImg from '../components/achievements-img.astro';
---

<!DOCTYPE html>
<html>
<head>
  <title>iuto.work</title>
  <html lang="ja">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.ico">
  <link href="/dist/output.css" rel="stylesheet">
  <meta name="description" content="いうとのポートフォリオサイトです。">
  <meta property="og:image" content="https://www.iuto.work/images/ogp.webp" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen justify-center 2xl:w-1/2 sm:w-5/6 mx-auto mb-20 dark:bg-gray-800 p-4">
    <Header active="about" />

    <Company
    company="株式会社ノックラーン"
    description="株式会社ノックラーンでは、中高生に向けたキャリア教育サービス「KnockLearn」「KnockLearn DIVE」などを運営しています。"
    link="https://corporate.knocklearn.com/"
    />

    <Achievements
    dynamicImage="https://ao-navi.knocklearn.com/"
    alt="総合型選抜ナビ"
    description="総合型選抜ナビの開発・運営に携わっています。"
    />


    <div class="flex justify-end">
      <AchievementsImg
        dynamicLink="https://note.com/knocklearn_inc/n/nb098f316e519"
        dynamicImage="./public/images/achievements/interview-knocklearn.webp"
        alt="社内インタビュー"
        description="社内インタビュー・記事作成を担当しています。"
      />
    </div>    

    <p class="mt-20 text-lg font-normal text-gray-900 dark:text-gray-200">
      長期インターン・オープンポジションとして、記事制作やSNS運用、新規事業開発などに携わっています。
    </p>

</body>
</html>
