---
import Header from '../layouts/Header.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<!DOCTYPE html>
<html>
<head>
  <title>iuto.work</title>
  <html lang="ja">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.ico">
  <link href="/dist/output.css" rel="stylesheet">
  <meta name="description" content="いうとのポートフォリオサイトです。">
  <meta property="og:image" content="https://www.iuto.work/images/ogp.webp" />

  <style>
    :global(.hover-box:hover) {
      animation: smooth-move 0.5s ease-in-out forwards;
    }

    :global(@keyframes smooth-move) {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-15px);
      }
      100% {
        transform: translateY(0);
      }
    }
  </style>
</head>

<body class="justify-center 2xl:w-1/2 sm:w-5/6 mx-auto mb-20 dark:bg-gray-800 p-4">

    <Header active="project" />

<div class="grid gap-4 mt-20 grid-cols-1 md:grid-cols-2">

    <ProjectCard
      link="https://ao-navi.knocklearn.com/"
      imageUrl="/images/sogogata.webp"
      title="総合型選抜ナビ"
      description="自分の条件に合った総合型選抜を見つけることが難しいと感じており、長期インターン先の株式会社ノックラーンにて、その解決策となるサービスの考案・開発に行いました。<br><br>総合選抜型ナビでは、大学で学びたいことや場所、英検の資格、併願の有無、評定を入力するだけで、自分に合った総合型選抜のある大学・学部学科を簡単に絞り込むことができます。"
      category="knocklearn"
      categoryImage="/images/book.webp"
      categoryLabel="KnockLearn"
    />

    <ProjectCard
      link="https://ao-navi.knocklearn.com/"
      imageUrl="/images/ijp.webp"
      title="IDEA CREATION WORKSHOP IN MINECRAFT"
      description="Minecraftを用いて、社会問題について考える小学生向けのイベントです。<br><br>参加者は数名程度のグループに分かれ、そのグループのサポーターを担当しました。<br><br>1週目は品川のMicrosoftオフィスで、2週目にはオンラインで開催されました。"
      category="Others"
      categoryImage="/images/thinking.webp"
      categoryLabel="Others"
    />

    <ProjectCard
    link="https://studia.tokyo"
    imageUrl="/images/studia.webp"
    title="学生に焦点を当てたメディア「StuDia」"
    description="様々な活動をしている学生は多いものの、そういった学生が世間に知られていないと思い、取材して記事にするメディアを運営していました。<br><br>現在は以前のようには活動していないものの、このメディアを通して様々な学生と出会うことができ、良かったと思っています。"
    category="Personal"
    categoryImage="/images/pc.webp"
    categoryLabel="Personal"
  />

    <ProjectCard
    link="https://bunsho-bunkatsu.herokuapp.com/"
    imageUrl="/images/bunsho-bunkatsu.webp"
    title="文章分割ツール"
    description="ChatGPTで一度に送れる文字数には制限があり、長い文章を要約する際などに手動で分けることが面倒だと感じていたので、それを解決できる文章分割ツールを作成しました。<br><br>指定した文字数で分割するだけではなく、読点で区切ったり、URLを削除・抽出することもできます。"
    category="Personal"
    categoryImage="/images/pc.webp"
    categoryLabel="Personal"
  />

  </div>

</body>
</html>