<!DOCTYPE html>
<html lang="ja">
<head>
  <title>iuto.work</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico">
  <meta name="description" content="いうとのポートフォリオサイトです。">
  <meta property="og:image" content="https://www.iuto.work/images/ogp.webp" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
  <style>
    /* デフォルトではリストを表示 */
    ul {
      list-style-type: disc;
    }
    /* スマホ用のスタイル */
    @media (max-width: 767px) {
      ul {
        list-style-type: none;
      }
    }
  </style>
</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z5S7NX0CXN"></script>

<body class="justify-center 2xl:w-3/4 sm:w-5/6 mx-auto mb-20 dark:bg-gray-800 py-4 px-6 sm:px-10">

   <div class="mx-auto max-w-7xl">
        <h2 class="mt-10 text-3xl font-extrabold dark:text-white">このページについて</h2>
        <p class="mt-4 mb-4 text-lg font-normal text-gray-900 dark:text-gray-400">通信制高校に関する基本的な情報は増えてきた一方で、細かいところの情報はまだまだ公になっていないと感じています。
            <br>このページでは、これまでに私が書いた通信制高校に関する記事を紹介しています。</p>
    </div> 

    <div class="md:ml-4 mt-20 mx-auto max-w-7xl grid grid-cols-1 2xl:grid-cols-2">
        <div class="flex flex-col items-start">
            <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">通信制高校全般に関すること</h2>
            <ul class="space-y-3 text-lg text-gray-500 dark:text-gray-400">
                <li>
                    <a href="https://note.com/knocklearn/n/n844c2ee53222?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        通信制高校の卒業率が低く、中退率が高い理由
                    </a>
                </li>
                <li>
                    <a href="https://note.com/knocklearn/n/nff559d426605?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        スクーリング（登校）なしの通信制高校がない理由
                    </a>
                </li>
                <li>
                    <a href="https://note.com/knocklearn/n/n9e747ac0ab9a?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        通信制高校と全日制高校：履修科目と教科書の違いを解説
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="flex flex-col items-start">
            <h2 class="2xl:mt-0 mt-10 mb-2 text-xl font-semibold text-gray-900 dark:text-white">進学に関すること</h2>
            <ul class="space-y-3 text-lg text-gray-500 dark:text-gray-400">
                <li>
                    <a href="https://note.com/knocklearn/n/ne4cda4c4e959?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        通信制高校に指定校推薦はある？推薦枠のある大学の特徴や条件について
                    </a>
                </li>
                <li>
                    <a href="https://note.com/knocklearn/n/n0c6abe90ba44?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        通信制高校から総合型選抜の受験で気をつけたほうがいいポイント
                    </a>
                </li>
            </ul>
        </div>

        <div class="flex flex-col items-start">
            <h2 class="sm:mt-10 2xl:mt-20 mb-2 text-xl font-semibold text-gray-900 dark:text-white">成績に関すること</h2>
            <ul class="space-y-3 text-lg text-gray-500 dark:text-gray-400">
                <li>
                    <a href="https://note.com/knocklearn/n/nc174caff1467?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        通信制高校の評定が取りやすいって本当？評定がつけられる基準・高いメリット
                    </a>
                </li>
                <li>
                    <a href="https://note.com/knocklearn/n/nbb66da1e4851?magazine_key=meada73a9c8a1" target="_blank" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        通信制高校の視聴報告書は面倒？所要時間について解説
                    </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
