---
import Header from '../layouts/Header.astro';
import Achievements from '../components/achievements-link.astro';
import AchievementsImg from '../components/achievements-img.astro';
---

<!DOCTYPE html>
<html>
<head>
  <title>iuto.work</title>
  <html lang="ja">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.ico">
  <link href="/dist/output.css" rel="stylesheet">
  <meta name="description" content="いうとのポートフォリオサイトです。">
  <meta property="og:image" content="https://www.iuto.work/images/ogp.webp" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
</head>
<body class="justify-center 2xl:w-1/2 sm:w-5/6 px-10 mx-auto mb-20 dark:bg-gray-800 p-4">
    <Header active="work" />

    <h2 class="mt-10 text-2xl font-bold text-center dark:text-white self-stretch">株式会社ノックラーン</h2>
    <time class="mt-2 text-gray-500 dark:text-white flex justify-center items-center">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
        </svg>
        2023.1 -
    </time>

    <div class="flex flex-col sm:flex-row">
        <div class="aspect-w-4 aspect-h-3 mx-2">
            <Achievements
                dynamicImage="https://ao-navi.knocklearn.com/"
                alt="総合型選抜ナビ"
                description="総合型選抜ナビ"
            />
        </div>
    
        <div class="aspect-w-4 aspect-h-3 mx-2">
            <AchievementsImg
                dynamicLink="https://note.com/knocklearn_inc/n/nb098f316e519"
                dynamicImage="./public/images/achievements/interview-knocklearn.webp"
                alt="目指すは、自分と向き合う社会の実現。ノックラーンCEO 福本 英にインタビュー。"
                description="目指すは、自分と向き合う社会の実現。ノックラーンCEO 福本 英にインタビュー。"
            />
        </div>
    </div>
    <article class="mt-10 prose-lg">
        長期インターン・オープンポジションとして、記事制作やSNS運用などの広報、新規事業開発を行っています。<br>
        自分に合った総合型選抜を実施している大学を探しづらいという実体験から、受験できる総合型選抜を簡単に探せる
        <a class="font-bold" href="https://ao-navi.knocklearn.com/">「総合型選抜ナビ」</a>を考え、主要メンバーとして開発しました。<br>
        <a href="#" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
            <img src="images/search.webp" class="mr-2 w-5 h-5">
            総合型選抜ナビをリリースしました
            <svg class="w-5 h-5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </article>  
    
    <h2 class="mt-20 text-2xl font-bold text-center dark:text-white self-stretch">感覚過敏研究所</h2>
    <time class="mt-2 text-gray-500 dark:text-white flex justify-center items-center">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
        </svg>
        2022.12 -
    </time>
    <div class="flex flex-col sm:flex-row">
        <div class="aspect-w-4 aspect-h-3 mx-2">
            <Achievements
                dynamicImage="https://kabin.life/column/7350/"
                alt="白いノートが眩しい！そんな時、どうする？"
                description="白いノートが眩しい！そんな時、どうする？"
            />
        </div>
    
        <div class="aspect-w-4 aspect-h-3 mx-2">
            <Achievements
                dynamicImage="https://kabin.life/column/7166/"
                alt="【ケーススタディ】「中部国際空港（セントレア）」のカームダウン・クールダウンスペース"
                description="【ケーススタディ】「中部国際空港（セントレア）」のカームダウン・クールダウンスペース"
            />
        </div>
    </div>
    <article class="mt-10 prose-lg">
        感覚過敏とは、五感がとても敏感で日常生活の中で困りごとがある状態のことです。<br>
        長期インターンとして、記事制作やSNS運用などを行っています。<br>
    </article>
    
    <h2 class="mt-20 text-2xl font-bold text-center dark:text-white self-stretch">株式会社MOVED</h2>
    <time class="mt-2 text-gray-500 dark:text-white flex justify-center items-center">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"></path>
        </svg>
        2023.1 -
    </time>
    <div class="flex flex-col sm:flex-row">
        <div class="aspect-w-4 aspect-h-3 mx-2">
            <Achievements
                dynamicImage="https://www.moved.co.jp/news/welfare-coaching/"
                alt="【福利厚生】コーチング研修 メンバーにインタビュー"
                description="【福利厚生】コーチング研修 メンバーにインタビュー"
            />
        </div>
    
        <div class="aspect-w-4 aspect-h-3 mx-2">
            <Achievements
                dynamicImage="https://www.moved.co.jp/news/moved-radio1/"
                alt="MOVEDの社名の由来・立ち上げのエピソード／むーラヂ〜こころがうごくラヂオ"
                description="MOVEDの社名の由来・立ち上げのエピソード／むーラヂ〜こころがうごくラヂオ"
            />
        </div>
    </div>
    <article class="mt-10 prose-lg">
        記事制作やポッドキャスト<a class="font-bold" href="    https://music.amazon.co.jp/podcasts/fe610298-6585-4f20-8d2a-ffa098e3aaa9/%E3%82%80%E3%83%BC%E3%83%A9%E3%83%82%E3%80%9C%E3%81%93%E3%81%93%E3%82%8D%E3%81%8C%E3%81%86%E3%81%94%E3%81%8F%E3%83%A9%E3%83%82%E3%82%AA">「むーラヂ〜こころがうごくラヂオ」</a>の音声編集などを行っています。
    </article> 

</body>
</html>