---
const { dynamicImage, alt, description } = Astro.props;
---

<figure class="mt-10 max-w-lg">
    <a href={dynamicImage} target="_blank">
        <img class="h-auto max-w-full rounded-lg" src={`https://og-image.yutakobayashi.workers.dev/?url=${dynamicImage}`} alt={alt}>
    </a>
    <figcaption class="mt-2 text-base text-center text-gray-500 dark:text-gray-400">{description}</figcaption>
</figure>