---
const { dynamicLink, dynamicImage, alt, description } = Astro.props;
---

<figure class="mt-10 max-w-lg">
    <a href={dynamicLink} target="_blank">
        <img class="h-auto max-w-full rounded-lg shadow-xl hover:opacity-75" src={dynamicImage} alt={alt}>
    </a>
    <figcaption class="mt-2 text-base text-center text-gray-500 dark:text-gray-400">{description}</figcaption>
</figure>