---
const { company,description, link } = Astro.props;
---

<div id="alert-additional-content-5" class="mt-10 p-4 border border-gray-300 rounded-lg dark:border-gray-600" role="alert">
    <div class="flex items-center">
        <h3 class="text-lg font-medium text-gray-800 dark:text-gray-300">{company}について</h3>
    </div>
    <div class="mt-2 mb-4 text-base font-normal text-gray-900 dark:text-gray-200">
        {description}
    </div>
    <div class="flex">
        <button type="button" class="py-1 px-5 text-gray-900 bg-white border border-gray-200 hover:bg-gray-100 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 font-bold rounded-lg text-base text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <a href={link} target="_blank">公式サイトを閲覧</a>
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </button>
    </div>
</div>