---
const { svg, description } = Astro.props;
---

<div id="toast-default" class="mt-2 mx-auto flex items-center w-full max-w-xs p-4 text-gray-900 bg-white rounded-lg border dark:border-gray-700 dark:text-gray-200 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:bg-blue-800 dark:text-blue-200">
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={svg}/>
      </svg>
        <span class="sr-only"></span>
    </div>
    <div class="ml-3 text-base font-normal">{description}</div>
  </div>