---
// Header.astro
// 'active' propを受け取り、どのリンクがアクティブであるかに応じてスタイルを適用します。
const { active } = Astro.props;
---

<header>
  <div class="flex flex-wrap justify-center lg:space-x-4 mt-10 dark:text-gray-200">
    <nav class="text-lg">
      <div class="max-w-screen-xl flex items-center justify-between mx-auto p-2">
        <div class="w-full" id="navbar-default">
          <ul class="font-bold flex flex-row space-x-4 mt-0 border-0 bg-white dark:bg-gray-800 dark:border-gray-900">
            <li class={`block md:inline-block rounded-lg px-3 hover:bg-gray-200 dark:hover:bg-gray-500 transition-all ${active === 'about' ? 'font-bold' : 'font-normal'}`}>
              <a href="/" class="block py-1 pl-1.5 pr-2" aria-current={active === 'about' ? 'page' : undefined}>About</a>
            </li>
            <li class={`block md:inline-block rounded-lg px-3 hover:bg-gray-200 dark:hover:bg-gray-500 transition-all ${active === 'work' ? 'font-bold' : 'font-normal'}`}>
              <a href="/work" class="block py-1 pl-1.5 pr-2" aria-current={active === 'work' ? 'page' : undefined}>Work</a>
            </li>
            <li class={`block md:inline-block rounded-lg px-3 hover:bg-gray-200 dark:hover:bg-gray-500 transition-all ${active === 'blog' ? 'font-bold' : 'font-normal'}`}>
              <a href="/blog" class="block py-1 pl-1.5 pr-2" aria-current={active === 'blog' ? 'page' : undefined}>Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>          
  </nav>
</header>